<div>
    <nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #7AF5F5;">
        <a class="navbar-brand" routerLink="" style="text-align:center; margin-left:10em">Manage Your Phonebook</a>
        <!-- <a class="nav-item nav-link active" routerLink= "" routerLinkActive="active">Home</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <br>
    </nav>
</div>
